* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CEE5D0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5% 2%;
    background-color: white;
}

.item p {
    display: flex;
    justify-content: center;
}